@model MvcFood.Models.FoodGenreViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Foods" asp-action="Index" method="get">
    <p>
        <select asp-for="FoodGenre" asp-items="Model.Genres">
            <option value="">All</option>
            </select>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.Foods[0].)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foods[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foods[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foods[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foods[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Foods) {
        <tr>
            <td>
        <img src="https://img-global.cpcdn.com/recipes/3d50ba74fea0ee16/680x482cq70/c%C6%A1m-rang-th%E1%BA%ADp-c%E1%BA%A9m-recipe-main-photo.jpg" width="80" height="80" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
